@charset "utf-8";

/* HTML */
body{
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

h1{
	margin: 0;
}

a{
	text-decoration: none;
}

/* Navbar */
.navbar{
	float: left;
	background: transparent;
	position: fixed;
	height: 50%;
	margin-top: 25%;
}

.nav_li{
	margin-top: 15%;
	color: white;
	font-size: 18pt;
}

.nav_link .text_hide{
	text-decoration: none;
	visibility: hidden;
}

.nav_link:hover .text_hide{
	visibility: visible;
	text-decoration: none;
	color: rgb(255,255,255);
	color: rgba(255,255,255, 0.4);
}

.nav_link:active .text_hide{
	color: rgb(255,255,255);
	color: rgba(255,255,255, 0.9);
}

.nav_link:visited .text_hide{
	text-decoration: none;
}

#line{
	width: 1px;
	height: 35px;
	background: white;
	position: absolute;
	top: 36px;
	left: 22px;
}

/* Classes */
.section_full{
	height: 100vh;
	display: block;
	overflow: hidden;
}

.text-dark{
	color: black;
}

.text-light{
	color: white;
}

/* ID CSS */
/* Title */
#title_section{
	/*background: url(../img/me.png) no-repeat;*/
	background-color: black;
	background-size: cover;
}

#title_container{
	width: 100%;
}

#title_row{
	height: 100%;
	background:  rgba(0,0,0,0.8);
}

#title_row:hover{
	background:  rgba(0,0,0,0.7);
}

#title_col1{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#title_text{
	margin-top: -80px;
	font-size: 72pt;
	font-weight: 900;
	font-style: italic;
}

/* Content */
#me_section{
	/*background: url(../img/tiger_lowpoly.png) no-repeat;*/
	background-color: black;
	background-size: cover;
}

#me_container{
	width: 100%;
}

#me_row{
	height: 100%;
	background:  rgba(0,0,0,0.6);
}

#me_row:hover{
	background:  rgba(0,0,0,0.5);
}

#me_col1{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/*Sub COntent */
	/* ... */

/* Footer */